
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  font-family: Arial;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header-div{
    background-color: #0B0B61;
}

.data { 
  overflow: none;
}

.test {
  border-style: solid;
  margin: 0px; 
}
.rowTest {
  border-style: solid;
  color: red;

}

.header{
    color: #F7F8E0;
}

.fill {
  height : 100%;
  width : 100%;
}

#timeline{
    color:black;
    border-color: white;
    background-color: #E6E6E6;
    border-width: 5px;
}

#weaponchart{
    color:black;
    border-color: white;
    background-color: #E6E6E6;
    border-width: 5px;
}

#inoutchart{
    color:black;
    border-color: white;
    border-width: 5px;
    background-color: #E6E6E6;
}

#dataForm{
    color: #F7F8E0;
    border-color: white;
    background-color: #0B0B61;
    border-width: 5px;
}

.box {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  /*max-height: 30vh; */
  background-color: whitesmoke;
}

.side {
  height: 90vh; 
  /*max-height: 90vh; */
  float: right;
}

.bar {
  height: 17vh;
  max-height: 17vh;
  padding: 1em;
  background-color: #ddd;
}


.filter-label{
    font-size: small;
}

.filter-select {
    font-size: x-small;
    width: 100%;
}

.clear-button{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.time-select{
    width: 50%;
}

.aligned input{
    float: left;
    font-size: x-small;
}

.small-label{
    font-size: small;
}

.filter-show-button{
    font-size: xx-small;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

#filter-box {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: relative;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


